input {
  outline: 1px solid rgb(255, 89, 117);
  border: none;
  background-color: transparent;
  border-radius: 20px;
}

.fa-optin-monster {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.suggest {
  cursor: pointer;
}

.body {
  display: flex !important;
  flex-direction: column !important;
}

.content {
  padding: 10px;
}

.profile-stats-block p {
  margin-bottom: 0.2rem;
  line-height: 1.2;
}

.race_space {
  padding-left: 1rem !important;
}

.level_up {
  margin-bottom: 0.1rem;
  line-height: 0.5;
}

.typing {
  display: flex;
  justify-content: space-evenly;
}

.text-gradient {
  background: linear-gradient(90deg, #8e2de2, #4a00e0, #ff416c) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  display: inline-block !important;
}

.text-lime {
  color: lime;
}

.surrender-text {
  color: rgba(255, 255, 255, 0.7);
}

.special_move_btn {
  background: linear-gradient(90deg, #8e2de2, #4a00e0, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  border: none !important;
}

.battle_visual {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 100px;
  height: 100px;
}

.battle_info {
  display: flex;
  justify-content: space-around;
}

.enemy_info,
.player_info {
  color: whitesmoke;
}
